<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.finish {
			text-decoration: line-through;
			color: red;
		}
	</style>
	<title>Document</title>
</head>

<body>
	<span>{{todos}}</span>
	<form action="/todo/insert" method="post">
		<input type="text" name="title" placeholder="할일 입력...">
		<input type="date" name="date" placeholder="날짜를 입력...">
		<button>추가</button>
	</form>
	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>할일</th>
				<th>등록일</th>
			</tr>
		</thead>
		<tbody>
			{% for todo in todos %}
			<tr>
				<td>{{todo.tno}}</td>
				<td>
					{% if todo.finish==True %}
					<span class="finish">{{todo.title}}</span>
					{% else %}
					<span class="not_finish">{{todo.title}}</span>
					{% endif %}
				</td>
				<td>{{todo.date}}</td>
				<td>
					<form action="/todo/toggle" method="post">
						<input type="hidden" name="tno" value="{{todo.tno}}">
						<button>{{"미완료로" if todo.finish==True else "완료로"}}</button>
					</form>
					<form action="/todo/delete" method="post">
						<input type="hidden" name="tno" value="{{todo.tno}}">
						<button>삭제</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>

</html>